.a-btn {
  display: inline-block;
  background: linear-gradient(100.7deg, #293c8b 0%, #3795a1 100%);
  border-radius: 15px;
  color: white !important;
  padding: 0.8rem 4rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1rem !important;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  @include screen(small) {
    font-size: 20px;
  }
}

section {
  margin-top: 8rem;
  @include screen(small) {
    margin-top: 4rem;
  }
}

.purple-card {
  background: rgba(162, 80, 208, 0.4);
  border-radius: 60px;
  padding: 1rem 0;
}
.blue-card {
  background: linear-gradient(
    206.27deg,
    #368c9f 15.28%,
    rgba(6, 6, 43, 0.1) 68.37%
  );
  border-radius: 60px;
  padding: 1rem 0;
}

.modal-header, .modal-footer{
  border: none !important;
}

.cookie-accept{
  padding: 2rem;
  background-color: #000231;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left !important;

  button{
    background-color: #368d9f;
    color: white;
    font-weight: bold;
  }
}