@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700&display=swap");
.a-btn {
  display: inline-block;
  background: linear-gradient(100.7deg, #293c8b 0%, #3795a1 100%);
  border-radius: 15px;
  color: white !important;
  padding: 0.8rem 4rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1rem !important;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 20px;
  }
}

section {
  margin-top: 8rem;
}

@media screen and (max-width: 576px) {
  section {
    margin-top: 4rem;
  }
}

.purple-card {
  background: rgba(162, 80, 208, 0.4);
  border-radius: 60px;
  padding: 1rem 0;
}

.blue-card {
  background: linear-gradient(206.27deg, #368c9f 15.28%, rgba(6, 6, 43, 0.1) 68.37%);
  border-radius: 60px;
  padding: 1rem 0;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #7000d1), color-stop(60%, var(--main-light)));
  background: linear-gradient(90deg, #7000d1 60%, var(--main-light) 60%);
  border: 1px solid var(--main-color);
  border-radius: 25px;
  height: 3px;
}

@-webkit-keyframes gradient {
  0% {
    background-color: red;
    background-position: 0% 50%;
  }
  50% {
    background-color: blue;
    background-position: 100% 50%;
  }
  100% {
    background-color: brown;
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-color: red;
    background-position: 0% 50%;
  }
  50% {
    background-color: blue;
    background-position: 100% 50%;
  }
  100% {
    background-color: brown;
    background-position: 0% 50%;
  }
}

.range-slider:focus {
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  background-color: #f7f7f7;
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  background: url(../images/F.png) no-repeat;
  background-size: cover;
  color: #a7a7a7;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 6px;
  -webkit-transform: rotate(-45px);
          transform: rotate(-45px);
  border: 3px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 2px 2px 6px rgba(101, 2, 126, 0.7), inset 0px -3px 8px rgba(56, 56, 56, 0.4), inset 0px 2px 3px rgba(153, 0, 255, 0.4);
          box-shadow: 2px 2px 6px rgba(101, 2, 126, 0.7), inset 0px -3px 8px rgba(56, 56, 56, 0.4), inset 0px 2px 3px rgba(153, 0, 255, 0.4);
}

.range-slider::-moz-range-thumb {
  display: block;
  background-color: #000000;
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  background: url(../images/F.png) no-repeat;
  background-size: cover;
  color: #a7a7a7;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 6px;
  transform: rotate(-45px);
  border: 3px solid rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 6px rgba(101, 2, 126, 0.7), inset 0px -3px 8px rgba(56, 56, 56, 0.4), inset 0px 2px 3px rgba(153, 0, 255, 0.4);
}

.chart {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.stat-card {
  margin-top: 12px;
  font-size: 12px;
  width: 100%;
  color: var(--coin-title);
}

.stat-card h6 {
  text-align: center;
  color: white;
  font-size: 12px !important;
  padding: 4px 0;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#3023ae), color-stop(35%, #3023ae), to(#9013fe));
  background: linear-gradient(90deg, #3023ae 0%, #3023ae 35%, #9013fe 100%);
}

.percentage {
  color: var(--main-color);
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 36px;
}

.card-text {
  text-align: end;
}

body {
  color: white !important;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  background-color: #06062b;
  background-image: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619854461/flashxchanger/stars_cgnvfk.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active,
nav .navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav img {
  padding: 1rem;
  width: 150px;
}

nav .navbar-toggler-icon img {
  width: 20px;
  height: 20px;
  padding: 0;
}

nav li a {
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  display: inline-block !important;
  padding: 0.5rem 2rem !important;
  margin: 0 0.5rem;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  nav li a {
    background: none;
    border: none;
  }
}

nav li a:hover {
  background: linear-gradient(100.7deg, #293c8b 0%, #3795a1 100%);
}

nav .sign-up {
  background: linear-gradient(100.7deg, #293c8b 0%, #3795a1 100%);
  border: none;
}

@media screen and (max-width: 576px) {
  nav .sign-up {
    background: none;
    border: none;
  }
}

.ui-back img {
  position: absolute;
  z-index: -999;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.top {
  text-align: center;
}

.top .intro {
  margin-top: 12rem;
  font-weight: bold;
  font-size: 60px;
}

@media screen and (max-width: 576px) {
  .top .intro {
    font-size: 20px;
  }
}

.top .contact-us .contact-intro {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (max-width: 576px) {
  .top .contact-us .contact-intro {
    font-size: 12px;
  }
}

.top .bg {
  position: absolute;
  top: 0;
  z-index: -99;
  left: 0;
  width: 100%;
  height: 80vh;
}

@-webkit-keyframes changebg {
  0% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  25% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847906/flashxchanger/slide-2_bqwfx4.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  50% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847904/flashxchanger/slide-3_qoa8ew.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  75% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847904/flashxchanger/slide-4_ic4ene.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@keyframes changebg {
  0% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  25% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847906/flashxchanger/slide-2_bqwfx4.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  50% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847904/flashxchanger/slide-3_qoa8ew.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  75% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847904/flashxchanger/slide-4_ic4ene.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.coin-details {
  margin-top: 6rem;
}

.coin-details .coin {
  padding: 1.6rem 0;
  margin: 0.5rem 0;
  text-align: center;
  background: rgba(162, 80, 208, 0.4);
  border-radius: 28px;
}

.coin-details .coin .coin-data .coin-image img {
  width: 32px;
}

.coin-details .coin .coin-data .coin-name {
  margin-left: 1rem;
}

.coin-details .coin .coin-value {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .coin-details .coin .coin-value {
    font-size: 30px;
  }
}

.coin-details .coin .usdt {
  font-weight: bold;
}

.coin-details .coin .usdt::before {
  content: "Volume";
  font-weight: normal;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
}

.coin-details .coin .usdt::after {
  content: " USDT";
  line-height: 20px;
}

.coin-details .coin .percent {
  margin-top: 1rem;
  font-weight: 900;
  color: #368d9f;
}

.why {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .why {
    font-size: 12px;
  }
}

.why .pie img {
  -webkit-transform: translateZ(0) !important;
          transform: translateZ(0) !important;
  width: 100%;
}

.why .point {
  margin-top: 4rem;
  padding: 0 2rem;
}

@media screen and (max-width: 576px) {
  .why .point {
    margin-top: 1.2rem;
  }
}

.why .point img {
  margin-top: 0.5rem;
  width: 42px;
}

@media screen and (max-width: 576px) {
  .why .point img {
    width: 32px;
  }
}

.why .point span {
  color: #368d9f;
  font-weight: bold;
}

.why .try {
  margin-top: 2rem;
}

@media screen and (max-width: 576px) {
  .why .try {
    margin-top: 0;
  }
}

.features-desktop .feature {
  min-height: 450px;
  margin-top: 2rem;
  text-align: justify;
  text-align-last: center;
  padding: 2rem;
}

@media screen and (max-width: 576px) {
  .features-desktop .feature {
    min-height: 275px;
  }
}

.features-desktop .feature .feature-name {
  font-size: 30px;
  font-weight: bold;
}

.features-desktop .feature .feature-desc {
  margin-top: 1.2rem;
  line-height: 30px;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .features-desktop .feature .feature-desc {
    font-size: 12px;
  }
}

.stable-coin h2 {
  text-align: left;
}

@media screen and (max-width: 576px) {
  .stable-coin h2 {
    text-align: center;
  }
}

.stable-coin .point {
  margin-top: 1rem;
  padding: 0 1rem;
}

.stable-coin .point img {
  margin-top: 0.2rem;
  width: 42px;
}

@media screen and (max-width: 576px) {
  .stable-coin .point img {
    width: 32px;
  }
}

.stable-coin .stable-coin-image-desktop img,
.stable-coin .stable-coin-image-mobile img {
  -webkit-transform: translateZ(0) !important;
          transform: translateZ(0) !important;
  width: 100%;
}

.packages .intro {
  text-align: center;
  margin-bottom: 2rem;
}

.packages .package {
  margin-top: 1rem;
  text-align: center;
  background-color: #000231;
  border-radius: 28px;
  padding: 2rem;
  -webkit-box-shadow: 0 1px 15px rgba(1, 1, 1, 0.1);
          box-shadow: 0 1px 15px rgba(1, 1, 1, 0.1);
}

.packages .package .package-icon img {
  width: 35px;
}

.packages .package .d-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 576px) {
  .packages .package .d-flex {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.packages .package .package-name {
  font-size: 20px;
  font-weight: 500;
  margin-left: 1rem;
}

@media screen and (max-width: 576px) {
  .packages .package .package-name {
    font-size: 15px;
  }
}

.packages .package .package-value {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 900;
}

@media screen and (max-width: 576px) {
  .packages .package .package-value {
    margin-top: 0;
    text-align: right;
    font-size: 20px;
    padding-right: 0;
  }
}

.packages .package .profit {
  margin-top: 1rem;
  font-weight: bold;
  color: #368d9f;
  line-height: 20px;
}

@media screen and (max-width: 576px) {
  .packages .package .profit {
    text-align: left;
    font-size: 12px;
  }
}

.packages .package .profit::before {
  content: "Your Profit";
  display: block;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .packages .package .profit::before {
    text-align: left;
    font-size: 12px;
  }
}

.packages .package .price {
  margin: 1.5rem 0;
  font-weight: bold;
  line-height: 20px;
}

@media screen and (max-width: 576px) {
  .packages .package .price {
    margin: 0.5rem 0;
    text-align: left;
    font-size: 12px;
  }
}

.packages .package .price::before {
  content: "USDT Purchase Price";
  display: block;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .packages .package .price::before {
    font-size: 12px;
    text-align: left;
  }
}

.packages .package .select {
  padding: 0.5rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.packages .package .select:hover {
  background: #368d9f;
}

@media screen and (max-width: 576px) {
  .packages .package .select {
    padding: 0;
    width: 50px;
    height: 50px;
  }
}

.trade {
  overflow-x: hidden;
  text-align: justify;
}

.trade img {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
}

@media screen and (max-width: 576px) {
  .trade img {
    -webkit-transform: translateX(20px) translateZ(0);
            transform: translateX(20px) translateZ(0);
  }
}

@media screen and (max-width: 576px) {
  .trade .trade-desc {
    text-align: justify;
    text-align-last: center;
    padding: 0 2rem;
  }
}

.trade .trade-desc h2 {
  text-align: left !important;
}

@media screen and (max-width: 576px) {
  .trade .trade-desc h2 {
    text-align: center !important;
  }
}

.trade a {
  -webkit-transform-origin: center !important;
          transform-origin: center !important;
}

.trade .h-moblie {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.start-now a {
  font-weight: 700;
  min-width: 195px;
  text-align: center;
  display: inline-block;
  color: white;
  padding: 0.8rem 2rem;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.start-now .trading {
  border: none;
  background: linear-gradient(100.7deg, #293c8b 0%, #3795a1 100%);
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/*# sourceMappingURL=main.css.map */