@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700&display=swap");
@import "mixin";
@import "component";
@import "old";
@import "color";

body {
  color: white !important;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;

  background: linear-gradient(
      156.2deg,
      #b158e2 0%,
      #7367f0 0%,
      rgba(6, 6, 43, 1) 28.15%
    )
    no-repeat;
  min-height: 100vh;
}

.top {
  text-align: center;
  min-height: 70vh;
  .intro {
    margin-top: 12rem;
    font-weight: bold;
    font-size: 60px;
    @include screen(small) {
      font-size: 20px;
    }
    animation: 20s bgchange infinite;
  }

  .contact-us {
    .contact-intro {
      margin-top: 2rem;
      font-size: 20px;
      font-weight: normal;
      @include screen(small) {
        font-size: 12px;
      }
    }
  }

  .bg {
    position: absolute;
    top: 0;
    z-index: -99;
    left: 0;
    width: 100%;
    height: 80vh;
    background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png)
      no-repeat;
    background-size: cover;
    background-position: center;
    animation: 40s changebg 10s infinite;
    @keyframes changebg {
      0% {
        background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png)
          no-repeat;
        background-size: cover;
        background-position: center;
      }

      25% {
        background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847906/flashxchanger/slide-2_bqwfx4.png)
          no-repeat;
        background-size: cover;
        background-position: center;
      }
      50% {
        background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847904/flashxchanger/slide-3_qoa8ew.png)
          no-repeat;
        background-size: cover;
        background-position: center;
      }
      75% {
        background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847904/flashxchanger/slide-4_ic4ene.png)
          no-repeat;
        background-size: cover;
        background-position: center;
      }

      100% {
        background: url(https://res.cloudinary.com/dmeppscpx/image/upload/v1619847905/flashxchanger/slide-1_gscsmr.png)
          no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

.coin-details {
  margin-top: 6rem;
  .coin {
    padding: 1.6rem 0;
    margin: 0.5rem 0;
    text-align: center;
    background: rgba(162, 80, 208, 0.4);
    border-radius: 28px;

    .coin-data {
      .coin-image {
        img {
          width: 32px;
        }
      }
      .coin-name {
        margin-left: 1rem;
      }
    }

    .coin-value {
      font-size: 40px;
      font-weight: bold;
      @include screen(small) {
        font-size: 30px;
      }
    }

    .usdt {
      font-weight: bold;
      &::before {
        content: "Volume";
        font-weight: normal;
        display: block;
        color: rgba(255, 255, 255, 0.5);
        line-height: 20px;
      }
      &::after {
        content: " USDT";
        line-height: 20px;
      }
    }

    .percent {
      margin-top: 1rem;
      font-weight: 900;
      color: $highlight;
    }
  }
}

.why {
  font-size: 20px;
  @include screen(small) {
    font-size: 12px;
  }

  .pie {
    img {
      transform: translateZ(0) !important;
      width: 100%;
    }
  }

  .point {
    margin-top: 4rem;
    padding: 0 2rem;
    @include screen(small) {
      margin-top: 1.2rem;
    }
    img {
      margin-top: 0.5rem;
      width: 42px;
      @include screen(small) {
        width: 32px;
      }
    }

    span {
      color: $highlight;
      font-weight: bold;
    }
  }

  .try {
    margin-top: 2rem;
    @include screen(small) {
      margin-top: 0;
    }
  }
}

.features-desktop {
  .feature {
    min-height: 450px;
    @include screen(small) {
      min-height: 275px;
    }
    margin-top: 2rem;
    text-align: justify;
    text-align-last: center;
    padding: 2rem;
    .feature-name {
      font-size: 30px;
      font-weight: bold;
    }
    .feature-desc {
      margin-top: 1.2rem;
      line-height: 30px;
      font-size: 15px;
      @include screen(small) {
        font-size: 12px;
      }
    }
  }
}

.stable-coin {
  h2 {
    text-align: left;
    @include screen(small) {
      text-align: center;
    }
  }
  .point {
    margin-top: 1rem;
    padding: 0 1rem;
    img {
      margin-top: 0.2rem;
      width: 42px;
      @include screen(small) {
        width: 32px;
      }
    }
  }

  .stable-coin-image-desktop,
  .stable-coin-image-mobile {
    img {
      transform: translateZ(0) !important;
      width: 100%;
    }
  }
}

.packages {
  .intro {
    text-align: center;
    margin-bottom: 2rem;
  }

  .package {
    margin-top: 1rem;
    text-align: center;
    background-color: $package;
    border-radius: 28px;
    padding: 2rem;
    .package-icon {
      img {
        width: 35px;
        // margin-bottom: 0.5rem;
      }
    }

    .d-flex {
      justify-content: center;
      @include screen(small) {
        justify-content: left;
      }
    }

    .package-name {
      font-size: 20px;
      font-weight: 500;
      margin-left: 1rem;
      @include screen(small) {
        font-size: 15px;
      }
    }

    .package-value {
      margin-top: 1rem;
      font-size: 30px;
      font-weight: 900;
      @include screen(small) {
        margin-top: 0;
        text-align: right;
        font-size: 20px;
        padding-right: 0;
      }
    }

    .profit {
      margin-top: 1rem;
      font-weight: bold;
      color: $highlight;
      line-height: 20px;
      @include screen(small) {
        text-align: left;
        font-size: 12px;
      }
      &::before {
        content: "Your Profit";
        display: block;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 0.2rem;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 15px;
        @include screen(small) {
          text-align: left;
          font-size: 12px;
        }
      }
    }
    .price {
      margin: 1.5rem 0;
      font-weight: bold;
      line-height: 20px;
      @include screen(small) {
        margin: 0.5rem 0;
        text-align: left;
        font-size: 12px;
      }
      &::before {
        content: "USDT Purchase Price";
        display: block;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 0.2rem;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 15px;
        @include screen(small) {
          font-size: 12px;
          text-align: left;
        }
      }
    }

    .select {
      padding: 0.5rem 2rem;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      border-radius: 15px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: $highlight;
      }
      @include screen(small) {
        padding: 0;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.trade {
  overflow-x: hidden;
  text-align: justify;
  img {
    transform: translateZ(0);
    width: 100%;
    @include screen(small) {
      transform: translateX(20px) translateZ(0);
    }
  }

  .trade-desc {
    @include screen(small) {
      text-align: justify;
      text-align-last: center;
      padding: 0 2rem;
    }
    h2 {
      text-align: left !important;
      @include screen(small) {
        text-align: center !important;
      }
    }
  }

  a {
    transform-origin: center !important;
  }

  .h-moblie {
    transform: translateY(60px);
  }
}

.start-now {
  a {
    font-weight: 700;
    min-width: 195px;
    text-align: center;
    display: inline-block;
    color: white;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
  }

  .trading {
    border: none;
    background: linear-gradient(100.7deg, #293c8b 0%, #3795a1 100%);
  }
}
